USE [master]
GO
/****** Object:  Database [ServiciosWeb]    Script Date: 03/12/2020 16:46:01 ******/
CREATE DATABASE [ServiciosWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ServiciosWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.FJLORENZO\MSSQL\DATA\ServiciosWeb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ServiciosWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.FJLORENZO\MSSQL\DATA\ServiciosWeb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServiciosWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServiciosWeb]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 03/12/2020 16:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Servicios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[costo] [real] NOT NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([id], [tipo], [descripcion], [costo]) VALUES (1, N'Nube', N'amazon', 5000)
INSERT [dbo].[Servicios] ([id], [tipo], [descripcion], [costo]) VALUES (2, N'Netflix', N'Servicios de peliculas y series', 320)
SET IDENTITY_INSERT [dbo].[Servicios] OFF
USE [master]
GO
